[user]
	name = bmoar
	email = pyjedi@gmail.com
[core]
	excludesfile = /home/scoob/.gitignore_global
	autocrlf = input
	whitespace = trailing-space,space-before-tab
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -l HEAD
