#!/usr/bin/env bash

set -euo pipefail

ovs_r_up="/etc/ovs/brg_router_ifup"
ovs_r_down="/etc/ovs/brg_router_ifdown"
ovs_v_up="/etc/ovs/vbrg_ifup"
ovs_v_down="/etc/ovs/vbrg_ifdown"

qemu-system-x86_64 --enable-kvm -cpu host \
    -boot order=d {{ virt_storage_path }}/{{ ansible_env['USER'] }}/pfsense_{{ virt_guest_bridge }}.qcow2 -m 2G \
    -cdrom {{ virt_iso_path }}/pfsense.iso \
    -device e1000,netdev=net0,mac=DE:AD:FF:$(printf '%02X:%02X:%02X' $[RANDOM%256] $[RANDOM%256] $[RANDOM%256]) \
    -netdev tap,id=net0,script=$ovs_r_up,downscript=$ovs_r_down \
    -device e1000,netdev=veth0,mac=DE:AD:69:$(printf '%02X:%02X:%02X' $[RANDOM%256] $[RANDOM%256] $[RANDOM%256]) \
    -netdev tap,id=veth0,script=$ovs_v_up,downscript=$ovs_v_down
